extends /template/sub_layout

block variables
  - title =  "test page";
  - description = 'test page'

block sub-content
  h1.text-center test page
    
  p=  JSON.stringify(data)

  p ahoskdfjoakdsf
  form(method="post")
    button send mail


