extends /layout
block header

block content
  h1 login
  form(method="post" action="/auth/login/")
    p email address: 
      input(name="username" type="text")
    p password:
      input(name="password" type="text")
    input(type="submit" value="login")
