extends /template/sub_layout
block variables
  - title = "login page"; 
  - description = "Let's login to Ateji World" ;
  - body_id = "bg-plane";

block sub-content
  
  h2.text-center(style="margin-bottom:30px") Authentication

  div.authtab-container
    a.authtab#login-tab.active(href="#login")
    
      h2 Log-in
      p if you already have an acount.

    a.authtab#signup-tab(href="#signup")
      h2 Sign-up
      p if you have not made an acount.

  div.authcontent-cotainer
    div.authcontent#login-content.active
      form.form-inline(method="post" action="/auth/local/login")

        if redirect_url
          input#redirect_url.form-control.input-lg(type="hidden" name="redirect_url" value="#{redirect_url}")

        table.auth-box
          tr
            td Email: 
            td 
              input#email.form-control.input-lg(type="text" name="email" placeholder="Your Email")
          tr
            td Password:
            td
              input#password.form-control.input-lg(type="password" name="password" placeholder="password")
          tr
            td(colspan="2")
              button(type="submit" ) Log-in

    div.authcontent#signup-content
      form.form-inline(method="post" action="/auth/local/signup")
        if redirect_url
          input#redirect_url.form-control.input-lg(type="hidden" name="redirect_url" value="#{redirect_url}")


        table.auth-box
          if ateji
              tr
                td(colspan=2)
                  p Your ATEJI name: #{ateji.ateji_name}
                  input#ateji_id(type="hidden" name="ateji_id" value="#{ateji._id}") 
                  input#use_ateji_id(type="checkbox" name="use_ateji_id" value="use" checked) 
                  label(for="use_ateji_id") Use this Ateji for me (can change later)
          tr
            td Email
            td
              input#email.form-control.input-lg(type="text" name="email" placeholder="Your Email")

          tr
            td Password
            td
              input#password.form-control.input-lg(type="password" name="password" placeholder="password")

          tr
            td Password<br>Confirmation
            td
              input#password.form-control.input-lg(type="password" name="confirm_password" placeholder="password confirmation")

          tr
            td(colspan=2)
              button(type="submit") Signup 


    //
      | Do you want to log-in by SNS account?
      a(href="/auth/facebook/login") Facebook Login

block append body-end-scripts
  script(type="text/javascript" language="javascript").

    $(function(){
      //URLをみる
      //signupだったら、タブを切り替える。


      var hashChanged = function(){
        if(window.location.hash == "#signup"){
          switchTo("signup");
        }
        else{
          switchTo("login");
        }
      }


      var switchTo = function(name){
        var $the_tab = $("#"+name+"-tab");
        var $the_content = $("#"+name+"-content");


        //他全部消して、
        $(".authtab").removeClass("active");
        $(".authcontent").removeClass("active");

        //タブをアクティブにする
        $the_tab.addClass("active");
        //タブに対応するIDのコンテントをアクティブにする
        $the_content.addClass("active");
        
      }

      $(window).on("hashchange",hashChanged);

      hashChanged();
      


    });

    /*
    $(function(){
      $authtabs= $(".authtab");
      $authtabs.click(function(){
        var $thetab = $(this);
        var id = $thetab.attr("id");
        var name = id.split("-")[0];


        //他全部消して、
        $(".authtab").removeClass("active");

        //タブをアクティブにする
        $thetab.addClass("active");


        //他全部消して、
        $(".authcontent").removeClass("active");

        //タブに対応するIDのやつを見せる  
        var content = $("#"+name+"-content").addClass("active");
      });
    });
    //*/



                
              
