$jt:".japanameTable";

#{$jt}{
  width:auto;
  margin:0; //


  td,th{
    margin:0;
    padding:0;
    border:0;

  }
}

#{$jt}__heading{
  width:7rem;
  vertical-align:middle;
  text-align:right;
  padding-right:1rem;

  display:none;

  @include media($medium-screen-up){ //thを表示させるため
    display:table-cell;
  }
}

#{$jt}__kanjiRow{

}

#{$jt}__kanjiCell{
  padding:0;
  font-family:$kanji-font-family;
  font-size:10rem;
  line-height:1;
}

#{$jt}__kanaRow{

}

#{$jt}__meaningRow{
  vertical-align:top;
}

#{$jt}__meaningCell{
  vertical-align:top;
}

#{$jt}__original{
  margin:0;
  padding:0;
  border:0;

  text-transform:capitalize;
  text-align:left;
  font-size:1.4rem;


}





