$jsb: "jnSearchBox";


.#{$jsb}{
  @include clearfix();
  display:block;
  position:relative;

  //font-size:2.4rem; //そとから指定してもらう
  //height:100%;
}


.#{$jsb}__button{
  display:block;
  position:absolute;
    right:0;
    top:0;
    bottom:0;
  padding:0 0.5em;
  font-size:inherit;

  height:100%;
}

input[type="search"].#{$jsb}__textbox{
  display:block;
  width:100%;
  margin:0;
  padding:0 0.5em;
  font-size:inherit;

  height:100%;
}

/*

.#{$jsb}{
  @include clearfix();

  display:block;
  position:relative;

  font-size:2.4rem;
}


.#{$jsb}__button{
  display:block;
  position:absolute;
    right:0;
    top:0;
    bottom:0;

  font-size:inherit;
}

input[type="search"].#{$jsb}__textbox{
  display:block;

  width:100%;
  margin:0;

  font-size:inherit;
}
*/




