
.kanjisList{ 
  overflow:hidden;
  margin:0 auto;
  padding:0;
  border:0;
  width:auto;
  table-layout:fixed;
}

.kanjisList__row{
}
.kanjisList__item{
  margin:0;
  padding:0;
  border:0;
  width:1.5em;

}
