

$kd : ".kanjiDetail";


#{$kd}{
  background:white;

  border:1px solid #000;
  border-width:1px 0;

  display:none;
  &--opened{
    display:block;
  }
}

$big-kanji-size:200px;

$kanji-detail-inner-padding:30px; 

#{$kd}__inner{
  position:relative;
  box-sizing:content-box;
  @include outer-container;
  height:$big-kanji-size;

  padding:$kanji-detail-inner-padding 0px;
}

#{$kd}__leftColumn{
  @include span-columns(3 in 12);
}

#{$kd}__centerColumn {
  @include span-columns(5 in 12);
}

#{$kd}__rightColumn{
  @include span-columns(4 in 12);
  @include omega;

  

  height:100%;
  position:relative;
}

@include media($medium-screen-down){
  #{$kd}__leftColumn{
    @include span-columns(6 in 12);
  }

  #{$kd}__centerColumn {
    @include span-columns(6 in 12);
    @include omega;
  }

  #{$kd}__rightColumn{
    @include span-columns(12 in 12);
    @include omega;

    margin-top:$kanji-detail-inner-padding;
    height:auto;
    position:relative;

    #{$kd}Button{
      position:relative;
      margin-bottom:1em;
    }


  }
}

#{$kd}__bigKanji {
  font-size:$big-kanji-size;
  line-height:1;
}

#{$kd}__bigKanjiInner {
  line-height:1;
  vertical-align:top;
}

#{$kd}__sounds {
}
#{$kd}__meaning {
  font-weight:bold;
  font-size:1.2em;
}
#{$kd}Button{
  display:block;
  padding:10px;
  color:white;
  background:$action-color;
  text-align:center;

  font-size:1.2em;

  border:3px $action-color solid;

  position:absolute;
    right:0;
    left:0;
  &:hover{
    opacity:0.8;
  }
}

#{$kd}__likeButton {
  @extend #{$kd}Button;
  top:0;

  &--favorited{
    color:$action-color;
    background:white;
  }
}

//もとのcssが詳細度あげすぎなのでしかたなく。
a#{$kd}__productButton {
  @extend #{$kd}Button;
  bottom:0;


  color:white;
  text-decoration:none;

  &:hover{
    color:white;
    text-decoration:none;

  }
}
#{$kd}__closeButton {
  position:absolute;
    top:0;
    right:0;

  &:hover{
    opacity:0.8;
  }

}




