$osc:".otherSyllableCell";

#{$osc} {
  position:relative;

  box-sizing:border-box;
  width:$kanji-cell-size;
  height:$kanji-cell-size;
  padding:$kanji-cell-size/6;
  background:#f3f3f3;

  border-radius:$kanji-cell-size/2;

  vertical-align:top;

  &--activated{
    .otherSyllableCell__board{
      display:block;
    }
  }

}

#{$osc}__part{
  color:black;
  margin-bottom:2px;
  border-bottom:1px solid;
  &:last-child{
    border-bottom:0;
  }
}

