div#ateji-column-wrapper{

  @include outer-container();
  div#ateji-column{
    @include span-columns(4);
    @include omega();

    margin-bottom:3rem;
  }

  div#ateji-side-column{

    @include span-columns(4);
     

    div.ateji-side-content{
      @include span-columns(4);

      margin-bottom:1rem;
    }

  }

  @include media($medium-screen-up){
    div#ateji-column{

      
    }
    div#ateji-side-column{
      div.ateji-side-content{
        @include span-columns(1 of 3);
        @include omega(3n);
      }
    }
  }

  @include media($large-screen-up){
    div#ateji-column{
      @include span-columns(8);// of 12

      div#ateji-scroller{
        margin-right:0;
        
      }
    }
    div#ateji-side-column{
      @include span-columns(4);// of 12
      div.ateji-side-content{
        @include span-columns(4 of 4);// of 12

      }
    }
  }
}

div#ateji-scroller{
  @extend .full-width;

  overflow-x:auto;

  text-align:center;
  div#ateji-block{
    display:inline-block;
    margin:0 auto;

  }
}

a.ateji-side-banner{
  display:block;
  box-sizing:border-box;
  width:100%;
  height:100%;
  padding:10px 20px;

  background:white;
  color:black;

  border-radius:5px;
  strong{
    display:block;
  }

}

.ateji_risumaru_box{
  background-image:url(/images/risumaru_jump_left.png);
  background-position:right bottom;
  background-size:20%;
}

div#yukikaki-ads{
  text-align:center;

}

div#login-ads{
  text-align:center;

}


