//////////// basic framework////////////
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base"; //bitters これは変えちゃっていいもの。

//////////// fandamentals ////////////
@import "lib";
@import "body";


////////////// modules ////////////////
//これらの組み合わせでできたらうれしい。
//いささかbootstrap的発想か。
@import "module";

//各モジュール
@import "ateji-search";
@import "topbar";
@import "footer";
@import "share-this-page";
@import "flash-message";

//BEMS モジュール
@import "jnSearchBox";
@import "shopThumbs";
@import "teeComposite";

///////////// pages /////////////////
//だんだん↑に移動していくべきだと思う
@import "page-index"; 
@import "page-atejis-candidates";
@import "page-atejis-selected";
@import "page-market-artists";
@import "page-auth";
@import "page-kanjis";
@import "page-survey";


.widgetHelper__accessMap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.widgetHelper__accessMap iframe,
.widgetHelper__accessMap object,
.widgetHelper__accessMap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}






