extends /template/sub_layout

block variables
  - title = "users"
  - description = 'lists of users' 
  - body_id= 'bg-plane'

block sub-content

  p
    a(href="/admin") 管理ページへ戻る
  p
    a(href="/admin/users") ユーザー一覧ページへ戻る

  h1 本当にユーザーを削除しますか？

  table.table
    thead
      tr
        th メールアドレス
        th 権限
        th 登録当て字
    tbody
      tr(id="#{user._id}")
        td= the_user.username
        td= the_user.authorities.join(', ')
        td= the_user.my_japaname && the_user.my_japaname.string || "none"


  form(action="./?_method=delete" method="POST")
    input(type="submit" value="ユーザーを削除")

