extends /template/sub_layout

block sub-content

  h1 ERROR PAGE
  h2= error_code

  div
    pre.h3 !{error_message}
    if(error)
      p -----error-----
      pre !{error}

      pre !{error && error.stack}
    else
      p 
      p 


