extends /template/basic_layout

block variables 
- body_id = "page_index";

block topbar
  topbar(drawLogo="false" drawSearchbox="false" )

block content


  h1(style="text-align:center;padding-top:50px;") Get Your <br>
    img(src="/images/japaname_logo_800.png" alt="japaname" style="max-width:90%;")


  .topSearchContainer
    table.topSearchContainer__table
      tr.topSearchContainer__row
        td.topSearchContainer__cell.topSearchContainer__cell--risumaru
          img.risumaruSearch(src="/images/risumaru_yubi_right.png")
        td.topSearchContainer__cell.topSearchContainer__cell--search
          japaname-searchbox(focus="true")
          p.text-center(style="opacity:0.7")
            br
            |Accepts 
            strong Alphabet
            |, 
            strong Hiragana
            |, 
            strong Katakana
            |, 
            strong Romaji 
              small (Japanese way to express pronounciation)
  
  img.hangingRisumaru.hangingRisumaru--right(src="/images/risumaru_hang_left.png")
  ul
    li 
      a(href="/names/") Name list



block footer
  div(style="height:200px;")
  include /include/footer.jade


block append body-end-scripts
  script(src="/javascripts/riot.min.js")
  script(src="/riotjs/japaname-searchbox.js")
  script(src="/riotjs/topbar.js")
  script.
    var searchbox = riot.mount("japaname-searchbox")[0];
    var topbar = riot.mount("topbar", {user: !{user ? JSON.stringify(user):"null" }})[0];
