extends /template/basic_layout

block variables 
- body_id = "page_index";

block topbar
  topbar(drawLogo="false" drawSearchbox="false" )

block content

  img(src="/images/risumaru_hang_left.png" style="position:absolute;right:0;top:0;width:20%;z-index:-1000;opacity:0.7")

  div(style="height:50px;")
  h1(style="text-align:center;") Get Your <br>
    img(src="/images/japaname_logo_800.png" alt="japaname" style="max-width:90%;")


  
  table
    tr
      td(style="width:20%;opacity:0.7")
        img(src="/images/risumaru_yubi_right.png")
      td(style="width:80%")
        japaname-searchbox(focus="true")
        p.text-center(style="opacity:0.7")
          br
          |Accepts 
          strong Alphabet
          |, 
          strong ひらがな
          |, 
          strong カタカナ
          |, 
          strong roma-ji 
            small (Japanese way to express pronounciation)
  
  ul
    li 
      a(href="/names/") Name list



block footer
  div(style="height:200px;")
  include /include/footer.jade


block append body-end-scripts
  script(src="/javascripts/riot.min.js")
  script(src="/riotjs/japaname-searchbox.js")
  script(src="/riotjs/topbar.js")
  script.
    var searchbox = riot.mount("japaname-searchbox")[0];
    var topbar = riot.mount("topbar", {user: !{user ? JSON.stringify(user):"null" }})[0];
