extends /template/basic_layout

block variables 
- body_id = "page_index";

block topbar
  include /template/topbar
  +topbar(false,false)

block content

  div
    div
      div(style="height:50px;")
      h1(style="text-align:center;") Get Your 
        img(src="/images/japaname_logo_1024.png" alt="japaname" style="max-width:90%;")

      include /include/ateji_search.jade
      div(style="height:5rem;font-size:2.5rem")
        +ateji_search(null,null,null,true)

      p.text-center(style="opacity:0.7")
        br
        |Accepts 
        strong Alphabet
        |, 
        strong ひらがな
        |, 
        strong カタカナ

block footer
  include /include/footer.jade

  div(style="height:200px;")

