extends /template/sub_layout

block sub-content

  h1 404 Sorry, #{original_name}!  
  h3 We are not sure about your name pronounciation!

  div
    p Japaname.jp has to prepare pronounciation of your name to give you a kanji japaname.
    p Please <a href="https://m.me/fumicode"> send a messeage on facebook!</a>

    
