extends /template/sub_layout


block append variables
  - body_id = "bg_white";

block append head-end
  link(rel='stylesheet', href='/stylesheets/webfont.css') 

block sub-content
  div.thumbnail-test
    img(src="#{dataurl}")
  p あせがdfぁkjうぇぁkfjうぇdふぁsdふぁsdふぁsdf今日G葉


