mixin ateji_box(atejis)
  div#ateji-scroller
    div#ateji-block

      table.japanameTable
        tr.japanameTable__kanjiRow
          th.japanameTable__heading Kanji
          each ateji,index in atejis
            td.japanameTable__kanjiCell
              a(href="/characters/kanjis/#{ateji.kanji}")=ateji.kanji
        tr.japanameTable__kanaRow
          th.japanameTable__heading Sound
          each ateji in atejis
            td #{ateji.romaji_kana}


        tr.japanameTable__meaningsRow
          th.japanameTable__heading Meanings
          each ateji in atejis
            td 
              each meaning in ateji.meanings
                | #{meaning}
                br

    img(src="/images/risumaru_jump_left.png" style="height:50mm;margin-right:-20mm")
