footer#page-footer
  div#page-footer-container
    div#contents
      h3 Contents
      // 受け渡したい
      - var links = [ { url:"/characters/kanjis", name: "Kanji Database" },{ url:"/contents/asct", name: "特定商取引法にもとづく表示 (asct description)" }, { url:"/contents/purchase-flow", name: "購入までの流れ (prices of all items)" }, { url:"/contents/purchase-flow-en", name: "Flow of purchase" }, { url:"https://www.facebook.com/ateji.jp", name: "Facebook Page" }, ];

      div
        ul.n
          each link in links
            li
              a(href="#{link.url}") 
                | #{link.name}

    div#share
      h3 Share
      include /include/sharebox.jade
      +sharebox(
        tweet || "Get Your JAPANESE Name with ATEJI! Ateji is to map japanese charactors to certain sound.", 
        share_url || "http://ateji.jp",
        hashtag || "ATEJI")

  div#copyright
    p Copyright &copy; 2015 Envirome, Inc. All Rights Reserved.


