footer#page-footer
  div#page-footer-container
    div#contents
      h3 Contents
      // 受け渡したい
      - var links = [ { url:"/characters/", name: "Three characters in Japanese" },{ url:"/characters/hiraganas", name: "Hiragana Database" },{ url:"/characters/kanjis", name: "Kanji Database" },{ url:"/names", name: "Name Database" },{ url:"https://www.facebook.com/japaname", name: "Facebook Page" }, ];

      div
        ul.n
          each link in links
            li
              a(href="#{link.url}") 
                | #{link.name}

    div#share
      h3 Share
      include /include/sharebox.jade
      +sharebox(
        tweet || "", 
        share_url || "",
        hashtag || "")

  div#copyright
    p Copyright &copy; 2016 fumicode. All Rights Reserved.

