footer#page-footer
  div#page-footer-container
    div#contents
      h3 Contents
      // 受け渡したい
      - var links = [ { url:"/characters/kanjis", name: "Kanji Database" },{ url:"https://www.facebook.com/japaname", name: "Facebook Page" }, ];

      div
        ul.n
          each link in links
            li
              a(href="#{link.url}") 
                | #{link.name}

    div#share
      h3 Share
      include /include/sharebox.jade
      +sharebox(
        tweet || "Get Your Japaname on japaname.jp! ", 
        share_url || "http://japaname.jp",
        hashtag || "Japaname")

  div#copyright
    p Copyright &copy; 2016 fumicode. All Rights Reserved.

