extends /template/sub_layout


block variables
  - title = "Japaname made in Kanji House"
  - description = 'page' 
  - body_id= 'bg-plane'

block sub-content

  ul
    li
      a(href="/kanjihouse/") 漢字ハウス管理ページに戻る
    li
      a(href="/kanjihouse/japanames") Japaname一覧ページに戻る

  h1 当て字をつくる 

  kanjihouse-namer

block append body-end-scripts
  script(src="/javascripts/superagent.js")
  script.
    var request = window.superagent;
  script(src="/javascripts/underscore-min.js")
  script(src="/riotjs/kanjihouse-namer.js")
  script.
    riot.mount("kanjihouse-namer");

