ateji-box.atejiBox

  col.atejiBox__col(each="{ji in atejis}" span="1")
  tbody
    tr.atejiBox__line
      td.atejiBox__cell.atejiBox__cell--kana(each="{ji in atejis}") {ji.romaji} 
    tr.atejiBox__line
      td.atejiBox__cell.atejiBox__cell--kanji(each="{ji in atejis}") {ji.kanji} 
    tr.atejiBox__line 
      td.atejiBox__cell.atejiBox__cell--meanings(each="{ji in atejis}") {ji.meanings[0]}
    //一時的
    tr.atejiBox__line 
      td.atejiBox__cell.atejiBox__cell--comment(each="{ji in atejis}") {ji.comment}


  script.
    this.atejis = opts.atejis || [];

    this.on("update",function(){
      console.log("hy");
      console.log(this.atejis);
    });

