candidate-table
  div.syllablesTable
    div.syllablesTable__item.syllablesTable__item--basic(each="{syllable in selectedSyllables}" 
      onclick="{parent.syllableSelected}" 
      ontouchstart="{parent.syllableSelected}" 
      class="{syllable == usingSyllable ? 'syllablesTable__item--using':''}")
      h3.syllablesTable__head
        | {syllable.romaji}
      div.syllablesTable__kanjis
        table.kanjisList
          tr.kanjisList__row
            td.kanjisList__item(each="{other_syllable_path in syllable.siblings}")
              div.otherSyllableCell(onclick="{openSepButton}")
                ul
                  li.otherSyllableCell__part(each="{other_syllable in other_syllable_path}") {other_syllable.romaji}
            td.kanjisList__item(each="{kanji in syllable.atejis}" ) 
              div.kanjiCell(class="{kanji == syllable.usingKanji ? 'kanjiCell--using':''}" 
                onclick="{parent.parent.kanjiSelected}")
                div.kanjiCell__char {kanji.kanji}
                div.kanjiCell__meanings {kanji.meanings.join("\n")}
      div.syllablesTable__kanjiDetail(class="{syllable == usingSyllable ? 'syllablesTable__kanjiDetail--display':''}")
        kanji-detail(ateji_selector="{atejiSelector}" current_syllable="{syllable}" show_comment="{show_comment}")

  script.
    var this_tag = this;
    this.atejiSelector = opts.ateji_selector;
    this.syllableChanger = opts.syllable_changer;
    this.show_comment = opts.show_comment;


    this.selectedSyllables = this.atejiSelector.getSelectedSyllables();
    this.usingSyllable = this.atejiSelector.getUsingSyllable();
    
    this.on("update",function(){
      this.selectedSyllables = this.atejiSelector.getSelectedSyllables();
      this.usingSyllable = this.atejiSelector.getUsingSyllable();
    });


    syllableSelected(e){
      this.atejiSelector.useSyllable(e.item.syllable);
    }

    kanjiSelected(e){
      var syllable = e.item.kanji.parent_syllable;
      var kanji = e.item.kanji;

      this.atejiSelector.useKanji(syllable, kanji);
    }

    openSepButton(e){
      //e.item.other_syllable_path.isOpened = true;
      //0バンめとはかぎらない！！
      var syllableChanger = this.syllableChanger;


      (function(){
        //スコープを作る
        syllableChanger.update({
          //from_syllable:,
          syllable_path:e.item.other_syllable_path,
          opened:true,
          x: e.pageX,
          y: e.pageY,
          onOK:function(syllable_path){
            this_tag.atejiSelector.changeSyllable(syllable_path[0]);
            this_tag.update();

            syllableChanger.update({ opened:false});
          }
        });
      }());
      e.stopPropagation();
    }


