candidate-table
  table.syllablesTable
    tbody(each="{syllable in selectedSyllables}" onclick="{parent.syllableSelected}")
      tr.syllablesTable__headRow(class="{syllable == usingSyllable ? 'syllablesTable__headRow--using':''}")
        th.syllablesTable__headCell {syllable.romaji} - {syllable.kana}
      tr.syllablesTable__kanjisRow(class="{syllable == usingSyllable ? 'syllablesTable__kanjisRow--using':''}")
        td.syllablesTable__kanjisCell 
          table.kanjisList
            tr.kanjisList__row
              td.kanjisList__item(each="{kanji in syllable.atejis}" ) 
                div.kanjiCell(class="{kanji == syllable.usingKanji ? 'kanjiCell--using':''}" 
                  onclick="{parent.parent.kanjiSelected}")
                  div.kanjiCell__char {kanji.kanji}
                  div.kanjiCell__meanings {kanji.meanings.join("\n")}

              td.kanjisList__item(each="{other_syllable_path in syllable.siblings}" 
                onclick="{parent.parent.changeSyllable}")
                div.otherSyllableCell 
                  div.otherSyllableCell__part(each="{other_syllable in other_syllable_path}") {other_syllable.romaji}
                    span(each="{kanji in other_syllable.atejis.slice(0,3)}") {kanji.kanji}

  script.
    this_tag = this;
    this.atejiSelector = opts.ateji_selector;

    this.selectedSyllables = this.atejiSelector.getSelectedSyllables();
    this.usingSyllable = this.atejiSelector.getUsingSyllable();
    
    this.on("update",function(){
      this.selectedSyllables = this.atejiSelector.getSelectedSyllables();
      this.usingSyllable = this.atejiSelector.getUsingSyllable();
    });


    syllableSelected(e){
      this.atejiSelector.useSyllable(e.item.syllable);
    }

    kanjiSelected(e){
      var syllable = e.item.kanji.parent_syllable;
      var kanji = e.item.kanji;

      this.atejiSelector.useKanji(syllable, kanji);
    }

    changeSyllable(e){
      this.atejiSelector.changeSyllable(e.item.other_syllable_path[0]);
    }
