gonext-button
  form(id="gonext-form" ref="gonext_form" method="POST" action="/names")
    //input(type="hidden" ref="original_name_input" name="original_name" value="#{original_name}")
    input(type="hidden" ref="names_input" name="names"  value="")

  button.goNextButton(onclick="{registerAteji}" class="{opts.center ? 'goNextButton--center' :''}") &raquo;Go<br>Next!

  script.
    var this_tag = this;
    this.namesSelector  = opts.names_selector;

    registerAteji(){
      var names = [];
      this_tag.namesSelector.forEach((name)=>{
        
        console.log("name");
        console.log(name);
        console.log(name.atejiSelector);
        names.push({
          original:name.original_name,
          atejis:name.atejiSelector.getSubmitKanjis()
        });
      });


      this_tag.refs["names_input"].value = JSON.stringify(names);


      //alert(JSON.stringify(names));

      this_tag.refs["gonext_form"].submit();
    }
