gonext-button
  form(id="gonext-form" ref="gonext_form" method="POST" action="/names")
    input(type="hidden" ref="original_name_input" name="original_name" value="#{original_name}")
    input(type="hidden" ref="ateji_json_input" name="ateji_json"  value="")

  button.goNextButton(onclick="{registerAteji}") &raquo;Go<br>Next!


  script.

    var this_tag = this;
    this.atejiSelector  = opts.atejiSelector;

    registerAteji(){
      var submitKanjis = this_tag.atejiSelector.getSubmitKanjis();

      console.log(this_tag.refs);

      this_tag.refs["original_name_input"].value = this.atejiSelector.getOriginalName();
      this_tag.refs["ateji_json_input"].value = JSON.stringify(submitKanjis);

      this_tag.refs["gonext_form"] .submit();
    }
