japaname-box
  table.atejiBox
    col.atejiBox__col(each="{ji in atejis}" span="1")
    tbody
      tr.atejiBox__line
        td.atejiBox__cell.atejiBox__cell--kanji(each="{ji in atejis}") {ji.kanji} 
      tr.atejiBox__line
        td.atejiBox__cell.atejiBox__cell--kana(each="{ji in atejis}") {ji.romaji} 
      tr.atejiBox__line(if="{showMeanings}")
        td.atejiBox__cell.atejiBox__cell--meanings(each="{ji in atejis}") {ji.meanings[0]}
          //全部表示したい場合
          virtual(each="{meaning in ji.meanings}") {meaning}
            br
  script.
    console.log("-----japaname box mounting-----");
    console.log(opts);

    this.atejiSelector = opts.atejiSelector;
    this.showMeanings = opts.showMeanings === undefined ? true:!!opts.showMeanings;

    this.atejis = this.atejiSelector.getCurrentKanjis();
    

    var this_tag = this;
    this.atejiSelector.on("kanjichanged",function(atejis){
      this_tag.atejis = atejis;
      this_tag.update();
    });


    this.on("update",function(){
    });

