japaname-box
  table.atejiBox
    col.atejiBox__col(each="{syllable in syllables}" span="1" 
      class="{syllable == usingSyllable ? 'atejiBox__col--using':''}")

    tbody
      tr.atejiBox__line
        td.atejiBox__cell.atejiBox__cell--kana(each="{ji in atejis}") {ji.romaji} 
      tr.atejiBox__line
        td.atejiBox__cell.atejiBox__cell--kanji(each="{ji in atejis}") {ji.kanji} 
      tr.atejiBox__line(if="{showMeanings}")
        td.atejiBox__cell.atejiBox__cell--meanings(each="{ji in atejis}") {ji.meanings[0]}
          //全部表示したい場合
          virtual(each="{meaning in ji.meanings}") {meaning}
            br

  script.

    this.atejiSelector = opts.ateji_selector;


    this.showMeanings = opts.show_meanings === undefined ? true:!!opts.show_meanings;


    this.atejis = this.atejiSelector.getCurrentKanjis();


    this.syllables = this.atejiSelector.getSelectedSyllables();
    this.usingSyllable = this.atejiSelector.getUsingSyllable();


    var this_tag = this;
    this.atejiSelector.on("kanjichanged",function(atejis){
      this_tag.atejis = atejis;
      this_tag.update();
    });

    this.on("update",function(){
      this.syllables = this.atejiSelector.getSelectedSyllables();
      this.usingSyllable = this.atejiSelector.getUsingSyllable();
    });


