kanji-detail
  div.kanjiDetail(class="{opened ? 'kanjiDetail--opened':''}")
    div.kanjiDetail__inner
      div.kanjiDetail__leftColumn
        div.kanjiDetail__bigKanji 
          span.kanjiDetail__bigKanjiInner {thekanji} 
      div.kanjiDetail__centerColumn
        div.kanjiDetail__sounds 
          virtual(each="{sound in romaji_sounds}") [{sound}] 
        div.kanjiDetail__meaning {meaning} 
      div.kanjiDetail__rightColumn


  script.
    this.atejiSelector = opts.ateji_selector;
    this.currentSyllable = opts.current_syllable;
    this.favoriteKanjis = opts.favoriteKanjis;

    var this_tag = this;

    this.on("update",function(){
      this.kanji = this.atejiSelector.getCurrentKanjiInSyllable(this.currentSyllable)

      if(this.kanji){
        this.thekanji = this.kanji.kanji;
        this.meaning = this.kanji.meanings[0];
        this.romaji_sounds = this.kanji.romaji_sounds;
        this.opened = true;
      }
      else{
        this.opened = false;
      }


    });

    var this_tag = this;

    this.selectKanji=function(kanji){
      this.kanji = kanji;
      this.update();
    }


    favorite(e){
      this.favoriteKanjis.toggle();//this.selectedKanji.kanji.kanji);
    }

