kanji-detail
  div.kanjiDetail(class="{opened ? 'kanjiDetail--opened':''}")
    div.kanjiDetail__inner
      div.kanjiDetail__leftColumn
        div.kanjiDetail__bigKanji 
          span.kanjiDetail__bigKanjiInner {thekanji} 
      div.kanjiDetail__centerColumn
        div.kanjiDetail__sounds 
          virtual(each="{sound in romaji_sounds}") [{sound}]
        div.kanjiDetail__meaning {meaning}
        p {kanji.comment}
      div.kanjiDetail__rightColumn
        form(if="{show_comment}" onsubmit="{addComment}" )
          textarea.comment-textarea(rows="3" style="width:80%;")
          input(type="submit" value="コメントを追加")
  script.
    this.atejiSelector = opts.ateji_selector;
    this.currentSyllable = opts.current_syllable;
    this.favoriteKanjis = opts.favoriteKanjis;
    this.show_comment = opts.show_comment;

    this.kanji = this.atejiSelector.getCurrentKanjiInSyllable(this.currentSyllable)
    this.opened = false;
    this.romaji_sounds = [];

    var this_tag = this;

    this.atejiSelector.on("kanjichanged",function(){
      this_tag.update();
    });

    this.on("update",function(){
      this.kanji = this.atejiSelector.getCurrentKanjiInSyllable(this.currentSyllable)

      if(this.kanji){
        this.thekanji = this.kanji.kanji;
        this.meaning = this.kanji.meanings[0];
        this.romaji_sounds = this.kanji.romaji_sounds;
        this.opened = true;
      }
      else{
        this.opened = false;
      }
    });
    
    addComment(e){
      e.preventDefault();

      //riot.v3.1.0ではrefが使えないことが判明
      var comment_textarea = this.root.getElementsByClassName("comment-textarea")[0];
      var comment_text = comment_textarea.value;


      console.log("this.refs.comment_textarea");
      console.log(comment_textarea);
      console.log(comment_text);
      
      this.atejiSelector.addCommentToKanji(this.currentSyllable, comment_text);
      comment_textarea.value = "";
      this.update();

    }

    var this_tag = this;

    this.selectKanji=function(kanji){
      this.kanji = kanji;
      this.update();
    }


    favorite(e){
      this.favoriteKanjis.toggle();//this.selectedKanji.kanji.kanji);
    }

