selecting-bar
  div.selectingKanji(class="{ontop ? 'selectingKanji--ontop':''}")
    div.selectingKanji__container
      div.selectingKanji__col--box(onclick="{toggle}")

        div.horizonScroller
          table.namesContainer
            tr.namesContainer__row
              td.namesContainer__cell
                p.selectingKanji__original {opts.original_name} &raquo; 
                japaname-box(ateji_selector="{opts.atejiSelector}" show_meanings="{opts.showMeanings}")

      div.selectingKanji__col--button
        gonext-button(center="{false}")

  script.
    this.ontop = true;
    this.on("mount",function(){
      /*
      var japanameBox = riot.mount("japaname-box",{
        atejiSelector:opts.atejiSelector,
        showMeanings:opts.showMeanings
      })[0];
      */
    });

    var this_tag = this;

    window.onscroll = function(){
      var scrollTop = window.pageYOffset;
      if(scrollTop != 0){
        this_tag.ontop = true;
      }
      else{
        this_tag.ontop = false;
      }
      this_tag.update();
    }

    open(){
      this.ontop = false;
      window.scrollTo(0,0);
    }
    
    close(){
      this.ontop = true;
      window.scrollTo(0,1);
    }

    toggle(){
      if(this.ontop){
        this.open();
      }
      else{
        this.close();
      }
    }



