topbar
  div.topbar 
    div.topbar__container
      table.topbar__table
        tr
          td.topbar__cell.topbar__cell--sitelogo {drawLogo}
            a(href="/" if="{opts.drawLogo}")
              img.topbar__sitelogo(src="/images/japaname_logo_1024.png" alt="Go to top")
          td.topbar__cell.topbar__cell--search
            div.topbar__search(class="{search_focused ? 'topbar__search--focused':''}")
              japaname-searchbox(text="{opts.text}" if="{opts.drawSearchbox}"
                placeholder=null, button="{opts.buttonText}", focus=false 
                font_size="{opts.searchFontSize}" height="100%"
                onfocus="{focused}" onblur="{blured}")

          td.topbar__cell.topbar__cell--userinfo
            div.topbar__userinfo
              virtual(if="{opts.user}")
                a(href="/mypage") {opts.user.my_japaname && opts.user.my_japaname.string || opts.user.username }
                  span(style="font-size:0.7em") 様
              virtual(if="{!opts.user}")
                a(href="/auth")
                  |Guest

  script.
    console.log(opts);

    focused(e){
      console.log("focused");
      this.search_focused = true;
      this.update();
    }

    blured(e){
      console.log("blured");
      this.search_focused = false;
      this.update();
    }



