extends simple_struct

block head_content
  link(rel='stylesheet', href='/stylesheets/crafti.css') 
  link(rel='stylesheet', href='/javascripts/ps/css/perfect-scrollbar.min.css') 

block body_content
  form(id="selected-form" method="POST" action="/names")
    input(type="hidden" name="original_name" value="#{original_name}")
    input#selected_ateji(type="hidden" name="ateji"  value="")




  div#kanji-selected-wrapper
    table(riot-tag="ateji-box")



  div#ateji-cands-container
    include crafti_candidates_table.jade

    each name_obj in name_objs
      +ateji_cands(name_obj)

  div#ok-button-container
    a#ok-button
      img(src="/crafti/crafti_button_ok.png" alt="ok")

    
  script(src="/javascripts/jquery.min.js" type="text/javascript")
  script(src="/javascripts/ps/js/perfect-scrollbar.jquery.min.js" type="text/javascript")

  script(src="/javascripts/riot.min.js" type="text/javascript")
  script(src="/riotjs/ateji-box.js" type="text/javascript")

  script.
    var atejiBoxTag = riot.mount("ateji-box")[0];
    console.log(atejiBoxTag);




  script(src="/javascripts/craftiscript.js")

