extends /template/sub_layout

block append variables
  - title = "Japaname Shop: arton";
  - description = "Arton is the first Japaname shop";
  - tweet =  "Japaname candidates of " + original_name;
  - share_url = "http://japaname.jp/names/candidates/" + original_name; //直書きよくないけどしゃーない！！！
  - body_id = "bg-white";

block sub-content
  h2 ARTON
  img(src="")
  p arton no setumei




