extends /template/sub_layout

block variables
  - title =  "特定商取引法にもとづく表示";
  - description = '特定商取引法にもとづく表示を掲載しています';


block sub-content
  h1.text-center 特定商取引法にもとづく表示
  table.table
    tr
      th(style="width:20em") 法人名 : 
      td ENVIROME株式会社
    tr
      th 代表者 : 
      td 丸山智久
    tr
      th 所在地 : 
      td 〒113-0031 <br>東京都文京区根津２-６-５　２Ｆ (本社)
    tr
      th 連絡先 : 
      td 03-5834-2303（代表）
    tr
      th 販売価格 : 
      td サイト掲載の <a href="/contents/purchase-flow">商品価格</a> をご覧ください。
    tr
      th 送料並びに購入に付帯する費用 : 
      td ダウンロード形態になりますので、送料はかかりません。
    tr
      th 代金支払い時期並びにその方法 : 
      td クレジット決算にて決算後、3営業日以内に書のデータをダウンロードできます。
    tr
      th 商品引渡し時期 : 
      td クレジット決算にて決算後、3営業日以内に書のデータをダウンロードできます。
    tr
      th 商品掲載に関しまして : 
      td 当サイト、出品者の都合で掲載の写真素材は削除されることがありますのでご了承ください。問い合わせ先：mishii@envirome.jpまでお問い合わせください。商品代金以外に必要な費用：消費税
    tr
      th 返品・交換の取り扱い : 
      td 商品に著しく問題がある場合、またはご注文と異なる商品だった場合に限り交換・返品の受付を致しますが、それ以外の返品・交換は受け付けないものとします。
