extends /template/sub_layout

block variables
  - title =  'Shodo Example of Cathering';
  - description = 'See example of Shodo art work.';


block sub-content
 
  ul
    li
      a(href="/contents") Back to contents page

  h1 Catherine -  華咲凛 
  p.text-center
    img.example-catherine.img-responsive(src="/images/example-catherine.jpg")

