extends /template/sub_layout

block variables
  - title =  'Prices of all items';
  - description = 'You can know the whole prices of ATEJI market.';


block sub-content
  h1.text-center Prices
 
  h2 Yuki-Kaki Shodo artwork - 600 yen
  img.img-responsive(src="/images/yukikaki-sample.png" alt="yukikaki sample")

  p.
    Shodo artwork of your name.<br>
    Yuki will write down your ATEJI name for you.

    
      



    



    



    
