extends /template/sub_layout

block variables
  - title =  "privacy policy";
  - description = 'privacy policy of ATEJI.jp'


block sub-content
  h1.text-center privacy policy
  p.
    privacy policy has not decided yet.<br>
    sorry 



    
