extends /template/sub_layout

block variables
  - title = "Kanji House Page"
  - description = 'page' 
  - body_id= 'bg-plane'

block sub-content
  h1 メールの送信が完了しました。

  p 
    a(href="/kanjihouse/") 管理ページへ戻る

