
extends /template/sub_layout

block variables
  - title = "Kanji House Page"
  - description = 'page' 
  - body_id= 'bg-plane'

block sub-content
  ul
    li
      a(href="/kanjihouse/") 漢字ハウス管理ページに戻る

  h2 送信済みメール一覧

  include mailTable

  +mailTable("sent_mails", mails)

