doctype html
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    title #{title}

    block head-end
  body
    block body-begin-scripts
    block body
    block body-end-scripts


