extends /template/basic_layout

block append variables
  - body_id = "normal";
  - body_class = (body_class || "") + " topbar-margin";

block topbar
  topbar

block content 
  include /template/flash_messages
  +flash_messages(notice_message,success_message,alert_message,err_message)

  div
    block sub-content

block footer
  include /include/footer.jade


block append body-end-scripts

  script(src="/javascripts/riot.min.js")
  script(src="/riotjs/japaname-searchbox.js")
  script(src="/riotjs/topbar.js")
  script.
    var topbar = riot.mount("topbar", {
      user: !{user ? JSON.stringify(user):"null" },
      drawLogo: true,
      drawSearchbox:true,
      text:"#{original_name}"
    })[0];
