mixin topbar(logo, search_box, original_name) 
  div.topbar 
    div.topbar__container
      table.topbar__table
        tr
          td.topbar__cell.topbar__cell--sitelogo
            if logo
              a(href="/")
                img.topbar__sitelogo(src="/images/japaname_logo_1024.png" alt="Go to top")
          td.topbar__cell.topbar__cell--search
            div.topbar__search
              if search_box
                include /include/ateji_search
                +ateji_search(original_name || "",  null , null, false, "3rem", "100%")

          td.topbar__cell.topbar__cell--userinfo
            div.topbar__userinfo
              if user
                a(href="/mypage") #{user.my_japaname && user.my_japaname.string || user.username }
                span(style="font-size:0.7em") 様
              else
                a(href="/auth")
                  |Guest
        


  script(type="text/javascript ").
    var searchBox = document.getElementsByClassName("topbar__search")[0];
    var searchText = document.getElementsByClassName("jnSearchBox__textbox")[0];
    var searchButton= document.getElementsByClassName("jnSearchBox__button")[0];

    searchText.onfocus =  function(){
      searchBox.className = "topbar__search topbar__search--focused";
    }



